{# src/TS/AdminBundle/Resources/views/Tables/editValue.html.twig #}

<div class="row">
    <div class="col-md-11 center-margin" style="margin-right: 0;">
        <div class="content-box box-toggle">
            <h3 style="height: 20px;" class="content-box-header ui-state-default">
                <span class="float-left">Remove this value</span>
                <i id="remove-value{{id}}" onclick="changeRemoveValue(this);" class="glyph-icon icon-clock-os float-right" style="margin-right: 10px;color:#d60000;"></i>
            </h3>
            <div  class="content-box-wrapper">

                <form class="col-md-10 center-margin" action="{{path('ts_admin_removeValue')}}?id={{id}}&entity={{entity}}"  method="post"{{ form_enctype(form) }}>                
{#                    //*********************************************#}
                    <p>
                        Are you sure you want to remove this value ?
                    </p>
{#                    //*********************************************#}
                    {{ form_rest(form) }}
                    <div class="form-row">
                        <div class="divider" ></div>
                        <div class="col-md-2 col-md-offset-5">
                            <input type="submit" value="Remove" style="background: #d60000"class="btn medium primary-bg radius-all-4" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function changeRemoveValue(_this)
    {
        var div = document.getElementById(_this.id + '#');

        if (div.style.display === "none") {
            div.style.display = "block";
        }
        else {
            div.style.display = "none";
        }
    }
</script>
