{# src/TS/AdminBundle/Resources/views/Candidate/manyTest.html.twig #}
 <div id="questionone{{question.id}}">
<u><b>Question {{loop.index}}/{{questions|length}} :</b></u>
<br>
<br>
<div class="col-md-12">  
   
    {% if question.introduction is not null %}
        <b id="introduction{{question.id}}"></b> 
        <br/>
    {% endif %}

<p style="font-weight: bold" id="text{{question.id}}"> </p>
<br>
    <script type = "text/javascript">
        $('b#introduction{{question.id}}').append({{ question.introduction|json_encode|raw}});
        $('p#text{{question.id}}').append({{ question.text|json_encode|raw}});
    </script>
     
   {% if question.questionPicture is not null %}
            <img height="400" width="600" src="{{ asset(question.questionPicture.webPath) }}" alt="{{ question.questionPicture.name }}">
            <br><br><br><br>
    {% endif %}
    
</div>

    
<div class="form-row pad0B">

    <div class="form-checkbox-radio col-md-12">
        <div class="checkbox-radio">
            {% for response in question.responses %}
                <input id="response{{response.id}}{{question.id}}" value="{{response.response}}" type="checkbox" name="{{question.id}}[]" onclick="tickrep({{response.id}},{{question.id}});">
                <label  class="font-blue" for="{{question.id}}">{{response.response}}</label>
                <br/>
            {%endfor %}
        </div>
    </div>
      
        <div style="margin-left: 600px" class="form-checkbox-radio col-md-9">
    <input type="checkbox" name=""  id="checkbox{{question.id}}"  onclick="tick({{question.id}});">
                            <label class="font-gray-dark" for="">Tick to review later</label>
</div>
        
</div>
        
       
        
        
<div class="divider" ></div>

<script src="/TestTool/web/js/tick.js"></script>  