{# src/TS/CandidatBundle/Resources/views/Candidat/about.html.twig #}

{% extends "TSCandidatBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}|about us
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block menu_nav %}
    <script>
        $(document).ready(function() {
            var li = document.getElementById('2');
            $(li).addClass('selected');
        });
    </script>
    {{ parent() }}
{% endblock %}
{% block slider %}
    {{ parent() }}
{% endblock %}
{% block mainbar%}
    <div class="article">
        <p>    <img src="/TestTool/web/images/website_under_construction.png" alt="" /> </p>

    </div>
    {{ parent() }}
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}