{# src/TS/CandidatBundle/Resources/views/Candidat/offer.html.twig #}

<div class="article">
    <p class="infopost">

        <a id="read-box{{offer.id}}" onclick="changeReadElement(this);"  style="float: right" title="Read More">
            <img src="/TestTool/web/images/icons/more.gif" />
        </a>
      
        <a id="pop" href="{{ path('ts_candidat_postOffer')}}?ref={{offer.reference}}"  class="read"  style="float: right" title="Apply">
            <img src="/TestTool/web/images/icons/apply.png" />
        </a>
        <span> <b style="font-weight: 700;font-size: 18px "> {{ offer.title}} </b> </span>
    </p>
{#</p>#}
    <div class="col12">
        <div style="display: -webkit-box">
            <div class="col3">  <b>Team:&nbsp&nbsp&nbsp </b> {{ offer.team}} </div>
            <div class="col3">  <b>Reference:&nbsp </b> {{ offer.reference}} </div>
            <div class="col3"> <b>Test(s):&nbsp </b> 
                {% for tests in offer.tests %}
                    {{ tests.name}}\
                {% endfor %} 
            </div>
            <div class="col3">  <b>Posted on:&nbsp </b> {{ offer.postedDate|date('d M Y') }} </div>
        </div>
        <div class="divid"></div>
        <div>
            <div class="col12"> 
                        {{ offer.shortDescription }}
            </div>
        </div>
        <div id="read-box{{offer.id}}#" style="display:none">
            <br/>
            <div>
                <p class="col12"> 
                        {{ offer.longDescription }}
                </p>
            </div>
        </div>
    </div>
{#    *******************************#}
</div>
<script>
    function changeReadElement(_this)
    {
        var div = document.getElementById(_this.id + '#');

        if (div.style.display === "none") {
            div.style.display = "block";
        }
        else {
            div.style.display = "none";
        }
    }
</script>
<style>
    .content .mainbar .article{
        padding: 20px;
    }
</style>