{# src/TS/EvaluatorBundle/Resources/views/Tests/test.html.twig #}

<div class="row ">
    <div class="col-md-12">
        <div class="content-box border-top border-bottom border-blue mrg25B col-md-11 center-margin">
            <h3 class="content-header">
                <div class="button-group float-right bg-gray" data-toggle="buttons">
                    {% if  app.session.get('role') is same as ('RH') %}
                        <a  id="edit-box{{test.id}}" class="btn medium bg-gray"  onclick="changeEditElement(this);" title="Edit">
                            <input type="radio" >
                            <i class="glyph-icon icon-edit"></i>
                        </a>
                    {% endif%}
                    <a id="read-box{{test.id}}" onclick="changeReadElement(this);" class="btn medium bg-gray" title="Questions">
                        <input type="radio" >
                        <i class="glyph-icon icon-angle-double-right"></i>
                    </a>
                    {% if  app.session.get('role') is same as ('RH') %}
                        <a id="remove{{test.id}}" onclick="changeRemoveTest(this);" class="btn small hover-red tooltip-button" data-placement="top" title="" data-original-title="Remove">
                            <i class="glyph-icon icon-trash-o"></i>
                        </a>
                    {% endif%}
                </div>
                <b> {{test.name }} </b>
            </h3>
            <div class="content-box-wrapper">
                <table class="table table-condensed">
            <thead>
                <tr>
                    
                    <th>Type</th>
                    <th>Mark</th>
                    <th>Elemenatory mark</th>
                    <th>Time</th>
                    <th>No automatic questions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td class="font-bold text-left">{{ test.type}}</td>
                    <td class="font-bold text-left">{{ test.note}}</td>
                    <td class="font-bold text-left">{{ test.eliminatoryNote}}</td>
                    <td class="font-bold text-left">{{ test.time}} minutes</td>
                    <td class="font-bold text-left">{{ test.automatic }}</td>
                </tr>  
            </tbody>
        </table>
                
                <div class="divider col-md-12"></div>

                <div  class="col-md-10 float-none center-margin" id="read-box{{test.id}}#" style="display:none">
                    <div class="content-box">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th>Question </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for question  in test.questions%}
                                    <tr  id="edit{{question.id}}"   >
                                        <td>
                                            <a id="moreTestQuestion{{question.id}}" onclick="changeEditElement(this);"  title="" class="btn medium primary-bg" data-toggle="dropdown">
                                                <i  class="glyph-icon icon-ellipsis-v"></i>
                                            </a>
                                        </td>
                                        <td>
                                            {{question.tests}}
                                            <label for="edit{{question.id}}"> 
                                                <b class="font-bold text-left" id="editTestText{{question.id}}"></b>
                                                <script type = "text/javascript">
                                                    $('b#editTestText{{question.id}}').append({{question.text|json_encode|raw}});
                                                </script>

                                            </label>
                                            <br/>
                                            <div id="moreTestQuestion{{question.id}}#" style="display: none;">
                                                {% if question.type == ('one') %}
                                                    {% include "TSAdminBundle:Tests:oneTest.html.twig" %}
                                                {% elseif question.type == ('many') %}
                                                    {% include "TSAdminBundle:Tests:manyTest.html.twig" %}
                                                {% elseif question.type == ('menu') %}
                                                    {% include "TSAdminBundle:Tests:menuTest.html.twig" %}
                                                {% elseif question.type == ('numeric') %}
                                                    {% include "TSAdminBundle:Tests:numericTest.html.twig" %}
                                                {% elseif question.type == ('free') %}
                                                    {% include "TSAdminBundle:Tests:freeTest.html.twig" %}
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="label bg-red">{{question.note}}</div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if  app.session.get('role') is same as ('RH') %}
    {#////*********************************** edit page ********************************#}
    <div class="row" id="edit-box{{test.id}}#" style="display:none">
        {{ render(controller('TSAdminBundle:Tests:selectEditTest', {'id':test.id} )) }}
    </div>
    {#////*********************************** remove page ********************************#}
    <div class="row col-md-12 text-center" id="remove{{test.id}}#" style="display:none">
        {{ render(controller('TSAdminBundle:Tests:selectRemoveTest',  {'id':test.id} )) }}
    </div>
{% endif%}
{#////*********************************** Change element Script  ********************************#}

<script type = "text/javascript">

    function changeEditElement(_this)
    {
        var div = document.getElementById(_this.id + '#');

        if (div.style.display === "none") {
            div.style.display = "block";
        }
        else {
            div.style.display = "none";
        }
    }
    function changeRemoveTest(_this)
    {
        var div = document.getElementById(_this.id + '#');

        if (div.style.display === "none") {
            div.style.display = "block";
        }
        else {
            div.style.display = "none";
        }
    }

    function changeReadElement(_this)
    {
        var div = document.getElementById(_this.id + '#');

        if (div.style.display === "none") {
            div.style.display = "block";
        }
        else {
            div.style.display = "none";
        }
    }

</script>